@model Trakfin.Models.ExpenseViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Expenses" asp-action="Index" method="get">
    <p>
        <select asp-for="BankName" asp-items="Model.Banks">
            <option value="">Bank Name</option>
        </select>

        <select asp-for="CategoryName" asp-items="Model.Categories">
            <option value="">Category</option>
        </select>

        Date: <input asp-for="StartDate" type="date" name="StartDate" />
        Date: <input asp-for="EndDate" type="date" name="EndDate" />

        Title: <input asp-for="SearchString" type="text" name="SearchString" />

        <input type="submit" value="Filter" />

        <a asp-area="" asp-controller="Expenses" asp-action="Index">Clear all filters</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">@Html.DisplayNameFor(model => model.Expenses![0].Title)</a>
            </th>
            <th>
                
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Expenses![0].Date)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].Bank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].Recurring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].MerchantOrVendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses![0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Expenses!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recurring)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MerchantOrVendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
